:root {
    --navy-blue-color: #2E2F42;
    --white-color: #FFFFFF;
    --cloud-color: #F4F4FD;
    --slate-color: #434455;
    --iris-color: #4D5AE5;
    --cornflower-color: #E7E9FC;
    --main-page-color: #E5E5E5;
    --ocean-color: #404BBF;
}

body {
    font-family: "Roboto", "Raleway";
    background-color: var(--white-color);
    color: var(--navy-blue-color);
    font-size: 16px;
}
ul, ol {list-style: none;
    margin: 0;
    padding: 0;}
a {text-decoration: none;
    display: block;}
    img {
    display: block;}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1158px;
    margin: 15px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.top-line {
width: 1440px;
height: 72px;
flex-shrink: 0;
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
display: flex;
}
.logo span {
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}
.logo {
color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
padding-left: 156px;
}

.site-nav {
display: inline-flex;
align-items: flex-start;
gap: 40px;
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
padding-left: 347px;
}

.contact-link {
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;

}
.items{
display: inline-flex;

}

.hero {
    width: 1440px;
height: 600px;
background: var(--NAVY-BLUE, #2E2F42);
text-align: center;
}
.hero-title {
color: var(--WHITE, #FFF);
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: 1.12px;
width: 496px;
padding: 188px 472px 48px 472px;
}

button {
border-radius: 4px;
background: var(--IRIS, #4D5AE5);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
}
.button-title {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.features {
width: 1128px;
display: flex;
padding: 120px 156px 120px 156px;
gap: 24px;
}
.title {
color: var(--navyblue, #2E2F42);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.4px;
}
.description {
color: var(--slate-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
padding-top: 8px;
}

.title-examples {
width: 1128px;
text-align: center;
color: var(--navy-blue-color);
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.picture-examples {
width: 360px;
display: flex;
padding: 72px 156px 120px 156px;
gap: 24px;
}

.wrapper {
    width: 1128px;
    text-align: center;
    position: relative;
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 156px 120px 156px;
}
.title-team {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
}

.team-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius:4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);    
}
.title-name {
margin-top: 32px;
padding-bottom: 8px;
}
.profession {
margin-bottom: 32px;
}

.footer {
background: var(--navy-blue-color);
width: 1440px;
height: 312px;
flex-shrink: 0;
}
.logo-footer span {
    color: var(--CLOUD, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
}
.logo-footer {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    display: flex;
    padding-top: 100px;
    padding-left: 156px;
}
.footer-descr { width: 264px;
color: var(--cloud-color);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
padding-top: 17.5px;
padding-left: 156px;}
